:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --ocean: #404bbf;
  --white: #ffffff;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header .container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.navigate {
  display: flex;
  align-items: center;
}

.navigate .list {
  display: flex;
  padding: 24px 0;
  gap: 40px;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--cornflower);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: var(--slate);
  background-color: var(--white);
}

.link {
  text-decoration: none;
}

.logo-web {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-text-studio {
  color: var(--navy-blue);
}

.logo-text-studio-footer {
  color: var(--cloud);
}

.list {
  list-style: none;
}

.list .nav-list {
  padding: 24px 0;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list .nav-list:focus,
.list .nav-list:active,
.list .nav-list:hover {
  color: var(--ocean);
}

.address-header {
  font-style: normal;
}

.address-header .list {
  display: flex;
  gap: 40px;
}

.list .contacts {
  color: var(--slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts:focus,
.contacts:hover {
  color: var(--ocean);
}

.section-title {
  padding: 188px 0;
  background-color: var(--navy-blue);
  text-align: center;
}

.title {
  margin: 0 auto 48px auto;
  max-width: 496px;
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.button-order {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 0;
  cursor: pointer;
}

.button-order:focus,
.button-order:hover {
  background-color: var(--ocean);
}

.section-info {
  padding: 120px 0;
}

.section-info h2 {
  color: var(--white);
}

.section-info .list {
  gap: 24px;
  display: flex;
}

.content-info {
  width: calc((100% - 72px) / 4);
}

.title-info {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.section-team .title-info {
  text-align: center;
}

.description-title-info {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-team .description-title-info {
  text-align: center;
}

.section-service {
  padding-bottom: 120px;
}

.section-service .list {
  display: flex;
  gap: 24px;
}

.content-service {
  width: calc((100% - 48px) / 3);
}

.title-service {
  margin-bottom: 72px;
  color: var(--navy-blue);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-team {
  padding: 120px 0;
  background-color: var(--cloud);
}

.section-team .list {
  display: flex;
  gap: 24px;
}

.section-team .team-list {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
}

.team-info {
  padding: 32px 16px;
}

.section-filter {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-filter {
  font-family: "Roboto", sans-serif;
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border: 1px solid var(--cornflower);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
}

.button-filter:focus,
.button-filter:hover {
  background-color: var(--ocean);
  color: var(--white);
  border-color: var(--ocean);
  border: 1px solid transparent;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.card-item-filter {
  width: calc((100% - 48px) / 3);
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.item-name {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.title-list {
  text-align: left;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.mark-filter {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-footer {
  padding: 100px 0;
  background-color: var(--navy-blue);
}

.main-footer .logo-web {
  display: inline-block;
  margin-bottom: 16px;
}

.main-footer .text-footer {
  width: 264px;
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
